@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Black+Ops+One&family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.page{
    max-width: 100vw;
    width: 100vw;
    min-height: 100vh;
    background: #eeeeee;
    position: absolute;
    overflow-x: hidden;
}

.header{
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #fff;
}

.profile-container{
    position: relative;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu_options{
    position: absolute;
    margin-top: 105px;
    background: #ffffff;
    width: 130px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #b3b3b3;
    display: none;
    opacity: 0;
    z-index: 10;
}

.menu_options::after{
    content: "";
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    border-top:   7px solid transparent;
    border-left:  7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 12px solid #3f3f3f;
    top: -20px;
}

@keyframes menu {
    100%{
        opacity: 1;
        margin-top: 75px;
    }
}

.menu_options.active{
    display: flex;
    animation: menu .3s ease-in forwards;
}

.inner_profile{
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #a3a3a3;
    border: 2px solid #b3b3b3;
    cursor: pointer;
}

.inner_profile img{
    width: 100%;
    height: 100%;
}

.option{
    padding: 15px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #424242;
    width: 100%;
    border-radius: 5px;
}

.option:hover{
    background: #ececec;
}

.event{
    margin-left: 20px;
    font-size: 32px;
    text-transform: capitalize;
    font-weight: bold;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.side_bar{
    position: absolute;
    height: calc(100vh - 75px);
    background: #ffffff;
    width: 15px;
    top: 75px;
    left: 0;
    transition: all .3s;
    z-index: 5;
}

.side_bar.active{
    width: 200px;
}

.side_button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -15px;
    width: 30px;
    height: 30px;
    background: #424242;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    transition: all .3s;
}

.side_button .fas.fa-chevron-right{
    display: inline-block;
}

.side_button .fas.fa-chevron-left{
    display: none;
}

.side_button.active .fas.fa-chevron-right{
    display: none;
}

.side_button.active .fas.fa-chevron-left{
    display: inline-block;
}

.main{
    position: absolute;
    width: calc(100vw - 200px);
    height: calc(100vh - 75px);
    left: 200px;
    background: #c9c9c9;
    z-index: 4;
    padding: 10px;
    transition: all .3s;
    display: flex;
    justify-content: center;
    gap: 15px;
    overflow: hidden;
    overflow-y: scroll;
}

.main.active{
    width: calc(100vw - 15px);
    left: 15px;
}

.image_container{
    position: relative;
    max-width: 400px;
    width: 400px;
    max-height: 400px;
    height: 400px;
    min-width: 300px;
    min-height: 300px;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
}

.image{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.image_mask{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal-width columns */
    grid-template-rows: repeat(4, 1fr); /* 4 equal-height rows */
    position: absolute;
    z-index: 1; 
    border-collapse: collapse;
    gap: 3px;
    padding: 3px;
}

.mask{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.mask:hover{
    background: #ececec;
    box-shadow: 0px 0px 5px #fff;
}

.mask .icon{
    font-size: 30px;
    color: rgb(216, 124, 3);
}

.mask.active{
    visibility: hidden;
}

.activities_list{
    margin: 15px;
    padding: 0px;
    width: 0%;
    overflow: hidden;
}

.side_bar.active .activities_list{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.activity{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 170px;
    border-radius: 5px;
    height: 100px;
    overflow: hidden;
    background: #d1d1d1;
}

.activity_title{
    padding: 10px;
    text-align: center;
    background: #333A73;
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: #ffffff;
}

.activity_value{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    background: #deebff;
    color: #b86b01;
}

.questio_container{
    min-width: 270px;
    width: 500px;
    /* height: 300px; */
    max-width: calc(100% - 10px);
    min-height: 400px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    z-index: 0;
}

.questio_container.active{
    position: absolute;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    z-index: 50;
}

.full_screen{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    color: purple;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.full_screen .fas.fa-expand-arrows-alt{
    display: inline-block;
}

.full_screen.active .fas.fa-expand-arrows-alt{
    display: none;
}

.full_screen .fas.fa-compress-arrows-alt{
    display: none;
}

.full_screen.active .fas.fa-compress-arrows-alt{
    display: inline-block;
}

.question_title{
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    background: #eeeeee;
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}

.question_options,.showQuestions{
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    min-height: 100px;
}

.questio_container.active .showQuestions{
    align-items: center;
}

.showQuestions{
    padding: 0;
    width: 100%;
}

.question_options label{
    padding: 12px;
    border: 2px solid #a09f9f;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

@keyframes timer {
    0%{
        transform: rotate(0deg);
    }25%{
        transform: rotate(180deg);
    }50%{
        transform: rotate(180deg);
    }75%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(0deg);
    }
}

.timer{
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.time_icon{
    animation: timer 2s linear infinite;
    font-size: 20px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50px;
}

.submit{
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    background: blue;
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
}

.submit:hover{
    background: rgb(1, 1, 161);
}

.submit:disabled{
    opacity: .2;
    cursor: not-allowed;
}

.highlight{
    margin-top: 20px;
    width: 100%;
    font-weight: bold;
    display: flex;
    gap: 10px;
}

@media screen and (max-width:995px) {
    .main , .main.active{
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .questio_container{
        height: 475px;
    }

}

@media screen and (max-width:625px) {
    .main , .main.active{
        width: calc(100vw - 15px);
        left: 15px;
    }
    .side_bar{
        width: 200px;
    }
    
    .side_bar.active{
        width: 15px;
    }

    .activities_list{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .side_bar.active .activities_list{
        margin: 15px;
        padding: 0px;
        width: 0%;
        overflow: hidden;
    }
}

@media screen and (max-width:450px) {
    .image_container{
        width: 280px;
        height: 280px;
    }
}

@media screen and (max-width:375px) {
   .event{
    font-size: 17px;
   }
}

/* custom scroll bar */

/* Track */
::-webkit-scrollbar {
    width: 6px; /* width of the scrollbar */
    height: 6px; /* height of the scrollbar */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; /* color of the scrollbar */
    border-radius: 5px; /* roundness of the scrollbar */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* color of the scrollbar on hover */
  }

#guessImage, #guessOutput{
    padding: 15px 10px;
    border: none;
    border-bottom: 2px solid #3f3f3f;
    outline: none;
    margin-top: 10px;
    font-size: 16px;
}

.guessButton{
    padding: 10px 20px;
    border: none;
    outline: none;
    margin-top: 10px;
    border-radius: 25px;
    background: green;
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
}
  

.closeguess{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: purple;
    color: #fff;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.load_question{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
    background: #ffffff44;
    display: none;
    z-index: 100;
}

@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}

.circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 10px solid #3f3f3f;
    border-top: 10px solid transparent;
  
}

.load_question.active{
    display: flex;
}

.load_question.active .circle{
  animation: rotate 1s linear infinite;
}


pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
    background: black;
}

.hljs {
    color: #d4d4d4 !important;
}

